/* main {
    margin: auto;
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    grid-template-rows: .2fr .1fr 1fr .2fr .1fr .1fr .2fr;
    grid-gap: 1em;
    grid-template-areas: "topbig topbig topbig topbig"
                         "topfour topfour topfour topfour"
                         "topfourtext topfourtext topfourtext topfourtext"
                         "midbig midbig midbig midbig"
                         "bottomfour bottomfour bottomfour bottomfour"
                         "bottomfourtext bottomfourtext bottomfourtext bottomfourtext"
                         "bottombig bottombig bottombig bottombig";
}

@media screen and (min-width: 700x) {
    body {
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .60fr .40 .15fr .40 .15fr .60fr .40 .15fr .40 .15fr .60fr;
     
    grid-template-areas: "topbig topbig"
                         "topfour topfour"
                         "topfourtext topfourtext"
                         "topfour topfour"
                         "topfourtext topfourtext"
                         "midbig midbig"
                         "bottomfour bottomfour"
                         "bottomfourtext bottomfourtext"
                         "bottomfour bottomfour"
                         "bottomfourtext bottomfourtext"
                         "bottombig bottombig";
    }
  }

@media screen and (min-width: 400x) {
    body {
    min-width: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr 7.15fr ;
     
    grid-template-areas: "topbig"
                         "topbigtext"
                         "topfour"
                         "topfourtext"
                         "topfour"
                         "topfourtext"
                         "topfour"
                         "topfourtext"
                         "topfour"
                         "topfourtext"
                         "midbig"
                         "midbig"
                         "bottomfour" 
                         "bottomfour"
                         "bottomfour"
                         "bottomfour"
                         "bottombig"
                         "bottombig";
    }
  }

#topbig {
    grid-area: topbig;
    background-color: lightskyblue;
}

#topbigtext {
    grid-area: topbigtext;
}

#topfour {
    grid-area: topfour;
    background-color: ivory
}

#topfourtext {
    grid-area: topfourtext;
}

#midbig {
    grid-area: midbig;
    background-color: lightcoral;
}

#bottomfour {
    grid-area: bottomfour;
    background-color: lightslategrey;
}

#bottomfourtext {
    grid-area: bottomfourtext;
}

#bottombig {
    grid-area: bottombig;
    background-color: lightpink;
} */

/* Teacher's Answer: */

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr repeat(4, 200px) 1fr repeat(4, 200px) 1fr 400px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "feature1"
    "smalls11"
    "smalls12"
    "smalls13"
    "smalls14"
    "feature2"
    "smalls21"
    "smalls22"
    "smalls23"
    "smalls24"
    "feature3"
    "footer";
}

nav {
    grid-area: nav;
    background-color: gray;
}

#feature1 {
    grid-area: feature1;
}
img {
    max-width: 100%;
}

div {
    background-color: red;
}

#small11 {
    grid-area: smalls11;
}
#small12 {
    grid-area: smalls12;
}
#small13 {
    grid-area: smalls13;
}
#small14 {
    grid-area: smalls14;
}


#feature2 {
    grid-area: feature2;
}
#small21 {
    grid-area: smalls21;
}
#small22 {
    grid-area: smalls22;
}
#small23 {
    grid-area: smalls23;
}
#small24 {
    grid-area: smalls24;
}

#feature3 {
    grid-area: feature3;
}

footer {
    grid-area: footer;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-rows: 50px 1fr repeat(2, 100px) 1fr repeat(2, 100px) 1fr 400px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nav      nav"
            "feature1 feature1"
            "smalls11 smalls12"
            "smalls13 smalls14"
            "feature2 feature2"
            "smalls21 smalls22"
            "smalls23 smalls24"
            "feature3 feature3"
            "footer   footer";
    }
}